body {
  margin: 0 auto;
  width: 100%;
}

.bio {
  text-align: center;
}

.footer {
  background-color: turquoise;
}

.foot-list {
  list-style-type: none;
}

.header {
  background-color: turquoise;
}

.img-tech {
  height: 100px;
  width: 100px;
}

.nav-list {
  display: inline;
  list-style-type: none;
}

li a {
  display: block;
}

.name {
  text-align: center;
}

.tech {
  background-color: turquoise;
}

.title {
  text-align: center;
}
