@import "bulma";

body {
  /* font-family: 'PT Sans Narrow', sans-serif; */
  margin: 0 auto;
  width: 100%;
}

.about {
  font-size: 30px;
  margin-top: 50px;
}

.about-text {
  display: inline;
  text-align: center;
  width: 30%;
}

.bio-section {
  height: 190px;
  text-align: center;
}

.footer {
  background-color: turquoise;
}

.foot-list {
  list-style-type: none;
}

.header {
  background-color: turquoise;
}

.img-tech {
  display: flex;
  height: 100px;
  margin: 50px 0 50px 0;
  width: 100px;
}

.nav-list {
  display: inline;
  list-style-type: none;
}

li a {
  display: block;
}

.name {
  text-align: center;
}

.project {
  display: flex;
  margin: 60px 10px 60px 10px;
  height: 200px;
  width: 300px;
}

.projects-line {
  font-size: 30px;
  text-align: center;
}

.projects-section {
  background-color: turquoise;
  display: flex;
  justify-content: center;
  width: 100%;
}

.subtitle {
  text-align: center;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tech-line {
  font-size: 30px;
  text-align: center;
}

.title {
  text-align: center;
}











.foot-links {
  font-size: 21px;
}

.left-box {
  padding: 20px 90px 10px 90px;
  width: 100%;
}

.left-box h1 {
  font-size: 30px;
}

.left-box a {
  color: black;
}

.left-box p {
  font-size: 19px;
}

.button-wrap {
  display: flex;
}

.button-2 {
  height: 50px;
  padding-bottom: 10px;
  width: 50px;
}

.button-3 {
  height: 50px;
  padding-bottom: 10px;
  width: 50px;
}

.button-1 {
  height: 50px;
  padding-bottom: 10px;
  width: 50px;
}
